/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/public/admin/css
/public/admin/js
/public/app/css
public/app/js
/.DS_Store
.DS_Store
.editorconfig
/public/sitemap.xml
